@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
    background: linear-gradient(
      to top right,
      #1f80eb 0%,
      #2284f1 17%,
      #061c93 80%,
      #051a91 100%
    );
  }

  .border-gradient {
    position: relative;
    border-radius: 0.5rem; /* Adjust the border radius as needed */
  }
  
  .border-gradient::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 0.5rem; /* Match the border radius of the parent element */
    padding: 0.8px; /* Adjust the padding to control the border thickness */
    background-image: linear-gradient(to right, #217EEC, #082299, #217EEC);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
  }